<!--Sobre mí-->
<div id="about" class="padding-2px dark-card card  align-text-middle">
<h1 class="card-title">Acerca de</h1>
<div class="row">
  <div class="col-3 row-margin">
    <img class="perfil" src="assets/img/micara.jpg" alt="Yo!" width="100" height="100">
    <p>Patricio Schilman <br> Rosario, Argentina</p>
  </div>
  <div class="col-8">
    <p>¡Hola! Soy un estudiante de la ciudad de Rosario, Argentina que está comenzando en el mundo del desarrollo web full stack.</p>
    <p>Mi trayecto en el mundo de la programación comenzó en la escuela secundaria, orientado a la resolución de problemas lógicos y la programación de controladores lógicos y microcontroladores.</p>
    <p>Me acerqué a la programación web a través del curso nacional Argentina Programa. Busco continuar aprendiendo para así poder seguir formándome como desarrollador. </p>
  </div>
</div>
</div>

<!--Experiencia-->
<div id="exp" class="padding-2px light-card card  align-text-middle">
<h1>Experiencia</h1>
<div class="row">
<div class="col-3 row-margin">
  <img class="perfil" src="assets/img/kitexpertologo.jpg" alt="Kit Experto logo" width="100" height="100">            
  <p>Kit Experto <br> Quality System Group SRL  </p>
</div>
<div class="col-8">
  <h4>Prácticas Profesionales </h4>
  <h5>2019 </h5>
</div>
</div>
</div>

<!--Educación-->
<div id="educación" class="padding-2px card dark-card align-text-middle">
<h1>Educación</h1>
<div class="row">
  <div class="col-3 row-margin">
    <img class="perfil" src="assets/img/ips_img.png" alt="Politécnico logo" width="100" height="100">            
    <p>Instituto Politécnico Superior <br> "General San Martín"</p>
  </div>
  <div class="col-8">
    <h4>Técnico en Electrónica </h4>
    <h5>2013-2019</h5>
  </div>
</div>
<div class="row">
  <div class="col-3 row-margin">
    <img class="perfil" src="assets/img/unr_img.png" alt="UNR logo" width="100" height="100">            
    <p>Facultad de Humanidades y Artes <br> Universidad Nacional de Rosario </p>
  </div>
  <div class="col-8">
    <h4>Licenciatura en Historia </h4>
    <h5>2020 - </h5>
    <h4>Profesorado en Historia</h4>
    <h5>2021 - </h5>
  </div>
</div>
</div>

<!--Hard & Soft -->
<div id="hns" class="padding-2px card light-card align-text-middle" >
  <h1>Hard & Soft Skills</h1>
  <div class="row text-center">
  <div class="col-6">
    <h2>Hard Skills</h2>
    <ul class="list-group">
      <li class="list-group-item">HTML</li>
      <li class="list-group-item">CSS</li>
      <li class="list-group-item">JavaScript</li>
      <li class="list-group-item">Java</li>
      <li class="list-group-item">SQL</li>
    </ul>
  </div>
  <div class="col-6">
    <h2>Soft Skills</h2>
    <ul class="list-group">
      <li class="list-group-item">Scrum</li>
      <li class="list-group-item">GitHub</li>
      <li class="list-group-item">Inglés</li>
      <li class="list-group-item">Trabajo en equipo</li>
      <li class="list-group-item">Aprendizaje rápido</li>
    </ul>
  </div>
  </div>
</div>


<!--Proyectos -->
<div id="projects" class="padding-2px card dark-card align-text-middle ">
<h1>Proyectos</h1>

<div class="card-group">
<div class="card project-card">
  <img src="assets/img/portfolio.jpg" class="card-img-top" alt="Portfolio">
  <div class="card-body">
    <h5 class="card-title">Portfolio</h5>
    <p class="card-text">Portfolio web hecho para el curso de Argentina Programa.</p>
    <a href="https://github.com/patricioschi/portfolio" class="btn btn-primary">Repositorio Github</a>
  </div>
</div>

<div class="card project-card">
  <img src="assets/img/biblioteca.jpg" class="card-img-top" alt="Biblioteca">
  <div class="card-body">
    <h5 class="card-title">Biblioteca</h5>
    <p class="card-text">Proyecto que permite ingresar libros por nombre, autor y link y lo muestra en una lista.</p>
    <a href="https://patricioschi.github.io/MiBiblio/pruebabiblio.html" class="btn btn-primary">Proyecto</a>
  </div>
</div>
</div>

</div>
