/* You can add global styles to this file, and also import other style files */
/*Estilos Generales*/
.perfil{border-radius: 50%;}
.row-margin{margin-top: 20px; margin-bottom: 20px;margin-left:20px ;margin-right:20px ;}
